{% extends "products/base.html" %}
{% block content %}
<style>
    td{
        white-space: nowrap;
    }
</style>
    <div class = "container mb-5 mt-5">
        <div style = "text-align: right">
            <button class="btn btn-success">Add Product</button>
        </div>
        {% if products|length %}
            <div class="cart-container">
                <table class="table" style = "overflow-y: auto;">
                    <thead>
                        <tr>
                            <th scope="col">Images</th>
                            <th scope="col">Product</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Buyers</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                            <tr>
                                <td>
                                    <img class = "cart-img" src = "{{product.colors.all.first.main_image.image.url}}" />
                                </td>
                                <td>{{product.title}}</td>
                                <td>₹ {{product.price}}</td>
                                <td>{{product.count}}</td>
                                <td>{{product.orders_set.all|length}}</td>
                                <td><a href = "{% url 'seller:buyers_list' product.id %}" class="btn btn-sm btn-success">Buyers</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <h3 class = "text-secondary text-center">No products added yet</h3>
        {% endif %}
    </div>
{% endblock content %}