{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
    <div class = "header">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">MyCart</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'orders:cart' %}">Cart</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'orders:orders_list' %}">Orders</a>
                    </li>
                </ul>
                {% if request.user.email %}
                    <div class = "d-flex align-items-center">
                        <h5 class = "text-light">{{request.user.email}}</h5>
                        <h5>&nbsp;|&nbsp;</h5>
                        <a href = "{% url 'accounts:logout' %}">
                            <h5 class = "text-light">Logout</h5>
                        </a>
                        
                    </div>
                {% else %}
                    <a href = "{% url 'accounts:login' %}">
                        <h5 class = "text-light">Login</h5>
                    </a>
                {% endif %}
                </div>
            </div>
        </nav>
    </div>
    {% block content %}
    {% endblock content %}
    <div class = "footer"></div>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'js/jquery.validate.js' %}"></script>
    {% block script %}
    {% endblock script %}
</body>
</html>