{% extends "products/base.html" %}
{% load static %}
{% block content %}
    <div class = "container mb-5">
        <div style = "width: 300px; margin-left: auto; margin-top: 10px; margin-bottom: 10px">
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search category" aria-label="Search" name = "search">
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
        </div>
        {% if product_categories|length %}
            {% for category in product_categories %}
                <div class = "d-flex align-items-center">
                    <h2>{{category.title}}</h2>
                    <a href = "{% url 'products:category_products' category.id %}" class = "ms-3">View all</a>
                </div>
                <div class = "row">
                    {% for product in category.product_set.all %}
                        <div class = "col-3">
                            <div class="card">
                                <a href = "{% url 'products:product_landing' product.id product.colors.all.first.id %}">
                                    <img src="{{product.colors.all.first.main_image.image.url}}" class="card-img-top" alt="">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">{{product.title}}</h5>
                                    <div class = "d-flex" style = "gap:10px">
                                        {% for color in product.colors.all %}
                                            <div style = "width: 20px; height: 20px; background-color: {{color.color}}; border-radius: 10px"></div>
                                        {% endfor %}
                                    </div>
                                    <p class = "mb-0 text-success fw-bold">₹{{product.price}}</p>
                                    <p class = "mb-2">{{product.description}}</p>
                                    <a href="{% url 'products:product_landing' product.id product.colors.all.first.id %}" class="btn btn-primary">View product</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        {% else %}
            <h3 class = "text-secondary text-center">No categories based on search</h3>
        {% endif %}
    </div>
{% endblock content %}